

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
	background-image: url(./animais.png);
}

.cabeçalho{
	background: linear-gradient(to right, rgb(59, 121, 255),rgb(20, 81, 250));
    display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: "Bangers", cursive;
	text-decoration: underline;
	border-radius: 25px;
	
	
}


.adote{
	
	margin-left: 30px;
	font-size: 35px;
}

.adote:hover {
	font-size: 41px;
}

h2 {
	font-family: "Bangers", cursive;
	display: flex;
	justify-content: center;
	font-size: 50px;
}

footer{
	font-family: "Bangers", cursive;
	display: flex;
	justify-content: center;
	font-size: 30px;
}

.itens{
	display: flex;
	background: linear-gradient(to right, rgb(35, 93, 255), rgb(0, 4, 255));
	width: 400px;
	height: 100px;
	align-items: center;
	justify-content: space-evenly;
	font-size: 30px;
	text-decoration: underline;
	border-radius: 25px;
	
}

.imagens{
	max-width: 1000px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
    justify-content: space-evenly;
	margin: 10%;
	gap: 10px 20px;
}


.imagens img{
	width: 200px;
	height: 150px;
	border-style: double;
	transition: width 0.2s, height 0.2s;
	border-radius: 10px;
}

.imagens img:hover{
	border-style: solid;
	width: 300px;
	height: 250px;
}
@media(max-width: 700px) {

     .cabeçalho{
		background:rgb(20, 81, 250);
		 justify-content: center;
	 }
     
	.itens{
		background:rgb(20, 81, 250);
	}

    .principal{
		display: none;
	}
	
}